# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files
*.sublime-project
*.sublime-workspace

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# NPM
/node_modules
.env
npm-debug.log*

$ Build
/dist
